
<p>
	<strong>Comment:</strong>
	<%= comment.body %><br>
		<%= link_to 'Destroy Comment', [comment.blog, comment],
			     method: :delete,
			     data: { confirm: 'Are you sure?' } %><br><br>

</p>
<h2> reply a comment</h2>
<% @replies= Reply.where(:comment_id=> comment.id) %>

<%@replies.each do |reply|%>
  <p>
  <strong>Reply:</strong>
  <%=reply.body%></p>
<%end%>
<%# @blog = Blog.find(comment.blog_id)%>
<%= render 'replies/form', locals: { :comment=> comment, :blog => comment.blog }  %>
 
 




	
