<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--img src="bittern/Pro/blogger/app/assets/images/Blogger_logo.svg.png"/-->
          <%= image_tag("Blogger_logo.svg.png", :alt => "Blogger", :size => "240x80") %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="welcome/index">Home</a></li>
            <li><a href="blogs">Blogs</a></li>
            <li><a href="blogs/new">Create New Blog</a></li>
            
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
  <footer>
 <marquee><h1><i><b> Welcome To The  Blogger.com</b></i></h1></marquee>
</footer>

</body>
</html>
<%#= button_to 'Go To Blog Index', blogs_path, :method => 'get' %><br><br>
<%#= button_to 'Create New Blog', new_blog_path, :method => 'get' %><br><br>
