/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";
.nested_messages {
  margin-left: 30px;
}


.navbar {
    overflow: hidden;
    background-color:#F08080;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.navbar a {
    float: left;
    display: block;
    color: 	#F08080;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}
.footer {

   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: powderblue;
   color: white;
   text-align: center;
}

  body {
    background-image: url("blog-1.jpg");
    background-size: cover;
}


